:root {
    --Amarillo: #F0B429;
    --Azul: #005883;
    --Naranja: #F47920;
    --GrisOscuro: #333333;
    --GrisClaro: #B3B3B3;
    --GrisMedio: #808080;
}

.Fuente_1 {
    font-family: 'Franklin Gothic Book';
    font-size: 1.4rem;
}

.Fuente_2 {
    font-family: 'Franklin Gothic Heavy';
    font-size: 1.4rem;
}

.SizeFuente {
    font-size: 18px;
}

.DegradadoAmarillo {
    background: var(--Amarillo);
    background: -moz-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, var(--Amarillo)), color-stop(38%, var(--Amarillo)), color-stop(70%, var(--Naranja)), color-stop(99%, var(--Naranja)), color-stop(100%, var(--Naranja)));
    background: -webkit-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: -o-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: -ms-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: linear-gradient(to right, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0b429', endColorstr='#f47920', GradientType=1);
}

nav a.navbar-brand {
    width: 12%;
}

#ImgLogo {
    height: 100px;
}

.flotante {
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: #007bff;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botones {
    border: none;
    background-color: var( --Azul);
    color: #fff;
    border-radius: 16px;
}

.botones:hover,
.botones:focus,
.botones:active {
    background-color: var( --Naranja);
    border-color: var( --Naranja);
    box-shadow: 0 0 0 0.2rem rgb(244 121 32 / 60%);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: var( --Naranja)!important;
    border-color: var( --Naranja)!important;
}

.jumbotron {
    background: #fff;
    border-radius: 0;
    padding: 1rem 2rem 0 2rem;
}