:root {
    --Amarillo: #F0B429;
    --Azul: #005883;
    --Naranja: #F47920;
    --GrisOscuro: #333333;
    --GrisClaro: #B3B3B3;
    --GrisMedio: #808080;
}

.Fuente_1 {
    font-family: 'Franklin Gothic Book';
    font-size: 1.4rem;
}

.Fuente_2 {
    font-family: 'Franklin Gothic Heavy';
    font-size: 1.4rem;
}

.DegradadoAmarillo {
    background: var(--Amarillo);
    background: -moz-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, var(--Amarillo)), color-stop(38%, var(--Amarillo)), color-stop(70%, var(--Naranja)), color-stop(99%, var(--Naranja)), color-stop(100%, var(--Naranja)));
    background: -webkit-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: -o-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: -ms-linear-gradient(left, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    background: linear-gradient(to right, var(--Amarillo) 0%, var(--Amarillo) 38%, var(--Naranja) 70%, var(--Naranja) 99%, var(--Naranja) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0b429', endColorstr='#f47920', GradientType=1);
}

nav a.navbar-brand {
    width: 12%;
}

#ImgLogo {
    height: 100px;
}

.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0;
    /* Establecemos la barra en la izquierda */
    top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-googleplus {
    background: #d95232;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-mail {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}